.inspection-table{
    max-width: 50%;
}

.inspection-table, .carpart-table{
    max-width: 75%;
    border-collapse: collapse;
    margin-top: 40px;
    text-align: left;
    padding: 8px;
    color: black;
    border-radius: 4px;
    border-bottom: 1px solid #ddd
}

th{
   font-weight: bold;
}

.inspect-link:hover {
    color: #007cb9;
 font-weight: bold;
}

.table-number{
    text-align: right;
    padding-right: 40px;
}

.carinspection-client-info{
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.inspection-button{
    background-color: #007cb9;
    border: solid 2px #ffff;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.inspection-button:hover{
    background-color: #ffff;
    color: black;
    border: solid 2px #007cb9;
}
button + button{
    margin-left: 5px;
}
.add-sub-bttn, .confirm-carpart{
    border: solid 2px #ffff;
    background-color: #ffff;
    transition-duration: 0.4s;

}
.add-sub-bttn:hover{
    color: #007cb9;
    border: solid 2px #007cb9;
    font-weight: bold;
}
.confirm-carpart:hover{
    color: #007cb9;
    border: solid 2px #007cb9;
}

.total-price{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin-left: 10px;
}

.tooltip .tooltiptext {
    font-size: small;
    visibility: hidden;
    width: 150px;
    background-color: #007cb9;
    color: #ffff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

