.inspection-table{
    max-width: 300px;

}

.inspection-table th{
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: antiquewhite;
    color: black;
}

.carinspection-client-info{
    font-weight: bold;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-top: 20px;
    background-color: lightblue;
    width: 100%;
}