.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px
}
ul {
    list-style-type: none;
    flex-basis: 550px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}
li + li{
    margin-left: 8px;

}
nav {
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    /*justify-content: center;*/
    height: 60px;
    padding-left: 5px;
}

.active-link {
    background-color: lightblue;
}