
.outer-container{
    display: flex;
    flex-basis: 1200px;
    flex-direction: column;
}

h3{
    /*margin: 10px;*/
}
.page-header-title{
    margin-top: 30px;
}
form {
    color: #ffff;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    background-color: #007cb9;
    padding: 20px;
    max-width: 300px;
    border-radius: 4px;
    margin-top: 10px;
}

