ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    /*float: left;*/
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
}

button{
    /*border: none;*/
}

/*client output*/
.client-table{
    display: flex;
    max-width: 300px;
    background-color: lightblue;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

tr {
    border-bottom: 1px solid #ddd;
}

.validation-alert{
    font-size: small;
    color: red;
}
/*tr:hover {*/
/*    background-color: #D6EEEE;*/
/*}*/
