ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.reception-tabs{
    background-color: #007cb9;
    border: solid 2px #ffff;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.reception-tabs:hover{
    background-color: #ffff;
    color: black;
    border: solid 2px #007cb9;
}

li a {
    display: block;
    /*color: black;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    opacity: 0.3;
}

button{
    /*border: none;*/
}

/*client output*/
.client-table{
    display: flex;
    max-width: 300px;
    color: #ffff;
    background-color: #007cb9;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

tr {
    border-bottom: 1px solid #ddd;
}

.validation-alert{
    font-size: small;
    color: red;
}

.no-search-results{
    margin-top: 30px;
    font-size: large;
}